.Theme-div-1 {
  padding: 0px;
  margin: 0px auto;
  max-width: 1400px;
}

.ZtOZviTTkcmz3-DO_OzgS {
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-left: -8px;
}
._2PLFUU9OgtbELWQz3snC0b {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}

._2PLFUU9OgtbELWQz3snC0b,
._1ys2K5XaFTu2WjGHAx71yi,
._1oFs0McTNOmQk5ghTCYFF6,
._1Q5cWluAlEp5vTRePCCYhk,
._3pHqiVubpMLEJl33qP-THz,
._3JeAfoKibbHbzssmnpicvq,
._1ZplxGlyCnvyO0gMSgUv3h,
._2rjoo-klXFU_UQnvbHm5F8,
._3Pbgu9jv9fQItKcVfB9dfY,
.zDP7azG11r4BrryRuQXyP,
.Zo7_EhNHoP7eD9aOXA1qP,
.mXqV2KdP02Vq_4UzBTYrV,
.AdoKE9nnvZr4_zfgdeh5N,
._3NAsN6VOp8CvKsdJJeTrl4,
._3K_gCmhBT-OOPbvg3Lm8pQ,
._2Ga734SBlBhsMTcwtIf_KE,
._3c_FtR8nE2oJSTSVD3Me1U,
._3TWUyCYND-7ku2IA3_6mbm,
._1yWoTYeAeUi09Ayb8K8PBp,
.al_7H1DFqYiuBDFGT0ZDR,
._2J_G7ARf9_c2EvK09tdmHA,
._1RGyWudNUR3qAubJ01JJc-,
._3OtITJM6lFH3vYTPnQwYlV,
._109SKBZ06uvcxE8a8gYfqb,
._1fcLqWgTugO5yvq1iiYEcZ,
._3UGEQEdCLHsoiUiHpMKNYU,
._3UNLqXQCngw7zgetmq-cds,
._2u7TqQNkhucZemW1lsStgy,
._39LGZKi8lxfwpwhOAq9Ryp,
._1HPMtw77Ymao63Rv3KJpGx,
._3SO93QmVQRTCI3HVVcbJyb,
._2Buhmok5IdCZjOrkWAsBEG,
._1l2Kt_Yj_tsG2v22qJ55Mv,
.d6sUamR59xF14rrBJhEqZ,
.g6l7VjcdMZiPPzmyk3nw6,
.etIBbrTV1mI5zeUmw0ryx,
.BxvhteAVmfjdZ22-tz2f2,
.PiXUPYXrSNDQ4-gFMTaXI,
._2sYMg4prh7zOP8bfO9laIS,
.oljZ3p_OPyToDQMlqmmQk,
._1ywTDZB37vup8OaJpJL9YM,
._1X0hdUFb1O9MfyJDO4UyEg,
._2QOr28DMRWqPX2K1ScwV3e,
._3inAMBU_gYkB5lv4fOjyhu,
._2IhhnLs24EADiJMfN08ZEx,
._21xzL4Y45ulPH77671noy5,
._1ypYV_1ZONUH3OuBV5b-wC,
.ymjV3DiCmndSacenPGkOp,
._1SxN0OvcrUUIjrERBiBzB0,
._2qwiOaGVbe87DSsf7-wQiH,
._3zRYqsPIYSiZHouaXu_BCl,
._2fnwdv4QnW7um73SfbyYwO,
.srMeBWEsmEOeswWRO1jEq,
._3RdWYuemSslSq-9HPjtsir,
._3j8qsM33xgyB2B6_j3h7El,
._2Th4SBV5cKCzriTMAKokee,
._3pbbScAH_l-HkRL05mtPvP,
._1Svz96GVCC6H0RBdR6EgmH,
._1wIAilO4XeLxdqv70sp226,
._3z1EO27UP67A9MlBGxWr0p,
._2Dm-WpwJHazviiedcCk3Us,
._1nXvw1d5DE-w6nrsDZGycJ,
._3Br2rOm4NKm0ha78Tr0_MB,
._3gKDLtnENZyOqHa4iE2q6m,
._2t4Kha_9QhuRG06qHsxLkn,
._1twEmKyJZD2bm71DqGmmCW,
._12ZU0L18sdA0OBhLROXuNj,
._1dGCSr-pJ8dO-qq1dUXGxy,
.XMXnGj4QpP4s8a1KIZAZr,
._3TnINlYJn9hl-92XTUoxdS,
.EGfBj96of_REQ4P_jI2G8,
._3Kb3EivPWyHSU5Ch5J6BRe,
._21XFweNjzYKRYi1lIj6Sip,
.qnljUd3UP2H8zCnvWhqLF,
.kdDX2gISrC2mPNbGUOyha,
._284iFuoqBFcyuJA3WxNxJe,
.WXAgkWzMjcMdnx8clquA3,
._2XYlUSMi1jIhNXADsPh7Q0,
._3u7lkDVpkFB4nYh57fkX0Q,
._2y0lPJzERqxxaNWC8wm94k,
._1x6vtkRB7hOAfNE0x0PF5F,
._37wpYTs0if2wh2mOPy3Pzb,
.RwCNMYR7M4zFRxlOcFWKu,
._37365696-mbGy6A5NyFvyU,
.NeTjnPY8pTn9waboyeDqs,
._3bixvChuExJicUfgKPR_a4,
._2YhQ16Wzp7wtNCwO3JC60e,
._2e0uZLQHhmGB5v5wOQXDvs,
._3X-8gUxZE98Nydn45aIXF9,
._1YmguBmW_NbaRkxTDjydzJ,
.p4dm-IeH8p6JGExtzkSQw,
.YMDi3TgRyvRnlGEoxFn86,
._2mUfM7GF9pLDFjipjaLaA5,
._2PSlKqhk395YIoowqTzJak,
._2ZEsJOer2BnClwsSRSc3Uf,
.oUBjvp2vUj2CmlocAT2hx,
._2_pNEIYk7x0U9N-X9wvecm,
._1bZESYEZevrqMDtkJDGbrO,
._26quH4cxDB3ZnAwgim5069,
._3kkd3JPhxZ-ib5GmbDFirf,
._22Nlu0f38M5TPXvgq4L7PR,
._32R4D3UYPtZ81-pcQZcWNG,
._3mcm9jGfIXzmmyvZBdgkBD,
._1CzWwAVM9UVGYYn22XrBRA,
._3OIWSYJ0mNmQ59k7BoNskM,
._1x-yZP1hMr4NJtls7PX7I9,
.oe1yn7YsSprw1BNeuteLa,
._1DZkDxHPEoh2TWlTmOQfBP,
.e7X-gGZblfptYhV8jrAS1,
._1K3om1v20Bu1a1VV4r2ZYF,
.pj3ozfaWb1LB-oiSghlLE,
._2lbXvBRcZOR_KTWieRorkc,
._2T9rcLmE9S6FYwcdSjC86w,
._4Cdy9o55krwQul3dCpcLj,
.pgLUEtV_oUbHEQRrygvXe,
.fOAzPsOUaUuXn5xXABw5Q,
._1lxVNl6ky7ubv01QF4dFHS,
.rTVg4jOSdDhdy5UziRldd,
._1KRTFVkqjWwc6k8ofgFuov,
._3XTdAAepYYwsCi2Twc_t5a,
._1u7VMhj0p6CJ4bCU0nL4v7,
._1U3cj25P0QGYt1Vxi_hPes,
._1m-Bk4dMd2T2qS4eSqnCGB,
.zqsMR6-vXxmx9n8y4BmQa,
._8fHBq4tBq2KYoXG8psKuE,
._1LruZSXiiFT74HH278_0bn,
._3oTGDDpwqxM2xdLE-c5bx7,
._2eReqgySQLE-dKYf3SzEQl,
.kuo4AmaMph63-IyI8i89S,
._1WvjRWPawyl08EaTKuObcv {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-right: 8px;
  padding-left: 8px;
  max-width: 100%;
}
._1Q5cWluAlEp5vTRePCCYhk {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.TabBar {
  display: flex;
  height: 44px;
  width: 86%;
  align-items: center;
  font-weight: 400;
  background-image: linear-gradient(-90deg, #5eb3c0 0%, #2f7ec4 97%);
  border-radius: 100px;
  padding: 0 9px;
  margin-right: 2%;
}

.TabBar .TabBar__tab::after {
  position: absolute;
  height: 3px;
  bottom: 5px;
  border-radius: 6px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  background: #fff;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}

.TabBar .TabBar__tab.TabBar__tab--active::after {
  opacity: 1;
}

.TabBar .TabBar__tab:hover,
.TabBar .TabBar__tab.TabBar__tab--active {
  opacity: 1;
}
.TabBar .TabBar__tab:first-child {
  margin-left: 18px;
}
.TabBar .TabBar__tab {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s;
  padding: 9px;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.TabBar .TabBar__tab {
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  transition: all 0.3s;
  padding: 9px;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.back-btn-alignment {
  /* padding-left: calc(36px - 0.5em); */
  width: 10%;
}
.back-div2-align {
  display: block;
  text-align: right;
}
.TabBar__tab::after .TabBar__tab::before {
  box-sizing: border-box;
}
.Paper.Paper--double-padded {
  padding: 36px;
}
.Paper {
  background: #fff;
  box-shadow: 0 2px 8px -3px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 15px;
}
._1ZplxGlyCnvyO0gMSgUv3h {
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
  max-width: 55%;
}
.PaperType--h2 {
  font-weight: 300;
  margin: 0;
  margin-bottom: 18px;
}

.Paper p a {
  color: #79a4ca;
}

.Theme-settings-div1 {
  width: 100%;
  padding: 0px;
}
.Theme-Setting-Calc {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
  max-width: 45%;
  /* padding-left: calc(36px - 0.5em); */
}
.Theme-Setting-Calc.editor--inline {
  padding-top: 0px;
  position: relative;
  margin-top: 0px;
  min-height: 0px;
  border: 1px solid rgb(223, 223, 223);
}
.Theme__editorPreview {
  background-size: cover;
  background-position: center;
  background-image: none;
}
.Theme-Setting-Calc.Theme__editorPreview {
  padding: 25px 25px 110px;
  background-color: rgb(255, 255, 255);
}
._1ZplxGlyCnvyO0gMSgUv3h .editor {
  box-shadow: none;
}

.editor .__header-one {
  font-size: 48px;
  line-height: 64px;
  font-weight: 200 !important;
  color: #333333;
  margin-bottom: 15px;
}
.editor .__header-two {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 100;
  color: #333333;
}
.editor .__unstyled,
.editor .public-DraftStyleDefault-ul,
.editor .public-DraftStyleDefault-ol {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  color: #333333;
  margin-block-end: 1em;
}

.editor .LiveField,
.editor .Field {
  font-size: 18px;
  font-weight: 300;
}

.LiveField .LiveField__container {
  padding: 22px 20px;
}

.LiveField input,
.LiveField textarea {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 15px;
  margin-left: 0;
  border: none;
  background: none;
  color: #4d7cea;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

.editor .Field__header,
.editor .LiveField__header,
.LiveSummary__question,
th.LiveSummary__question {
  color: #333333;
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #333333;
}
.LiveField__header {
  min-width: 150px;
}
.editor .LiveField__description,
.editor .Field__hinttext,
.LiveSummary__answer,
td.LiveSummary__answer {
  font-family: Lato, "Helvetica Neue", Helvetica, Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  color: #333333;
}

.LiveField__description {
  min-width: 150px;
  font-size: 14px;
  line-height: normal;
  margin-top: 5px;
  opacity: 0.9;
  white-space: normal;
  word-wrap: normal;
}
.editor .LiveField__answer,
.editor .LiveField__required::before,
.Link a,
.Link,
a.Link,
.Address__input input,
.Address__input select {
  color: #4d7cea;
}
.LiveField__answer {
  margin-top: 5px;
  color: #79a4ca;
}

.LiveField__error {
  background-color: #ffa3a3;
}
.LiveField__error {
  height: 0;
  padding: 0;
  position: relative;
  background-color: #ffa3a3;
  text-align: center;
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: -2px;
  text-transform: uppercase;
  line-height: 18px;
  overflow: hidden;
}

.LiveField__answer .choices {
  margin-top: 10px;
}
.LiveField__answer .choices label {
  margin: 10px 0 0 0 !important;
}

.LiveField__answer .choices label {
  background-color: #4d7cea !important;
  color: #fff !important;
}

.FieldConfigurationField:not(.FieldConfigurationField--half) {
  margin-bottom: 36px;
}

.FieldConfigurationField {
  width: 100%;
}

.FieldConfiguration__label {
  font-size: 18px;
  line-height: 24px;
  color: #434a50;
}
.FieldConfiguration__value,
.FieldConfiguration__label {
  margin: 9px 0;
}

.Paper.Paper--active {
  background: #e9eef3;
}

.Paper.Paper--clickable {
  cursor: pointer !important;
}
.Paper.Paper--clickable:hover {
  background: #f8f8f8;
}
.Paper.Paper--padded {
  padding: 18px;
}
.Paper.Paper--double-padded-x {
  padding-left: 36px;
  padding-right: 36px;
}
._1oFs0McTNOmQk5ghTCYFF6 {
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
._3pHqiVubpMLEJl33qP-THz {
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.choice-active {
  background-color: #4d7cea !important;
}
.div-width50 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.choice-theme {
  width: 100%;
  margin: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 16px;
  border-radius: 4px;
  text-align: left;
  text-transform: none;
  min-width: 130px;
  display: block;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.choice-theme {
  margin: 0;
  width: 100%;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 16px;
  border-radius: 4px;
  text-align: left;
  text-transform: none;
  min-width: 130px;
  display: block;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.boxTranslation {
  width: 100%;
}

._2rjoo-klXFU_UQnvbHm5F8 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

._3JeAfoKibbHbzssmnpicvq {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
  padding-left: calc(36px - 0.5em);
}

.boxTranslation .BtnV2--raised {
  float: right;
  margin-top: -7px;
}
.boxTranslation .mb1 .BtnV2 {
  margin: 0px auto;
}

.ImportTheme_Search_input {
  height: 40px !important;
  margin-bottom: 18px !important;
  color: #3db485 !important;
  font-size: 14px !important;
  border: 1px solid #79caaa !important;
  border-radius: 40px !important;
  padding: 0 18px !important;
  width: 330px !important;
  font-family: inherit !important;
  transition: all 0.3s !important;
}
.ImportTheme-div1 {
  overflow: auto;
  max-height: 300px;
  min-height: 120px;
  background-color: rgb(248, 248, 248);
  padding: 18px;
  position: relative;
}
.ImportTheme-div2 {
  transform: translate3d(0px, 0px, 0px);
  backface-visibility: hidden;
}
.ImportTheme .ImportTheme__form {
  clear: both;
  margin-bottom: 18px;
  font-size: 16px;
}

.btn-group .BtnV2 {
  margin-left: 0;
  margin-right: 9px;
  margin-bottom: 18px;
}

.BtnV2,
.introjs-button {
  height: 38px;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1;
  color: #79a4ca;
  background-color: #fff;
  font-weight: 400;
  font-family: Lato;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 38px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  user-select: none;
  transform: translateY(0);
  transition: all 0.3s;
  border: 1px solid rgba(121, 164, 202, 0.3);
}
.AccountSection-div {
  font-size: 24px;
  display: block;
  margin: 9px 0px;
  line-height: 29px;
}

.pagination {
  display: flex !important;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  z-index: 100;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;
  direction: ltr;
}

.pagination .Pagination__pages {
  display: flex;
}

.pagination-preview {
  padding-top: 0px;
  position: relative;
  margin-top: 0px;
  min-height: 0px;
  z-index: 0;
}

.Pagination__btn.btn-raised {
  margin: 0;
  height: 40px;
  text-transform: none;
  padding: 5px 20px;
  pointer-events: none;
  border-radius: 20px;
  border-color: transparent;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px -8px inset;
}

.Pagination__btn.btn-raised.Pagination__btn--next {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: right;
}

.Pagination__btn.btn-raised.Pagination__btn--previous {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  text-align: left;
}

.Pagination__btn.btn-raised.Pagination__btn--numbers {
  border-radius: 0 !important;
}

/* .Pagination__btn.Pagination__pagebutton--active span{
    -webkit-filter: invert(100%);
    filter: invert(100%);
} */

.editor:not(.editor--live) .submit {
  margin-bottom: 15px;
}

.submit {
  position: relative;
  /* z-index: 10; */
  width: 100%;
  margin: 0;
  padding: 12px;
  text-transform: none;
  transform: none !important;
  text-align: center;
}

@media (min-width: 500px) {
  .Pagination .Pagination__progress {
    max-width: calc(100% - 190px);
  }
}

.Pagination__progress {
  display: inline-block;
  max-width: calc(100% - 220px);
  width: 200px;
  height: 40px;
  background: #eee;
}

.Pagination__progresstrack {
  height: 100%;
  background: #79a4ca;
  transition: width 0.3s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 15px -8px inset;
}

.AccountSection-div.FieldConfigurationField:not(.FieldConfigurationField--half) {
  margin-bottom: 36px;
}
.AccountSection-div.FieldConfiguration__label {
  font-size: 18px;
  line-height: 24px;
  color: #434a50;
}
.AccountSection-div.FieldConfiguration__value,
.AccountSection-div.FieldConfiguration__label {
  margin: 9px 0;
}
.rc-switch-checked {
  border: 1px solid #79caaa;
  background-color: #79caaa;
}
.rc-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 44px;
  height: 22px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-switch-checked .rc-switch-inner {
  left: 6px;
}
.rc-switch-inner {
  color: rgb(236, 236, 236);
  font-size: 12px;
  position: absolute;
  left: 24px;
}

.rc-switch-checked:after {
  left: 22px;
}
.rc-switch:after {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 2px;
  top: 1px;
  border-radius: 50% 50%;
  background-color: #fff;
  content: " ";
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  transform: scale(1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-duration: 0.3s;
  animation-name: rcSwitchOff;
}

.Theme-Parent-div .loader {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.backgroundShadow .LiveField {
  background: transparent;
  box-shadow: none;
}
.custom-css-anchor {
  cursor: pointer !important;
}
.margintop72 {
  margin-top: 72px;
  margin-left: 20px;
}
.margintop35 {
  margin-top: 35px;
}

.acctSubmit-btn-alignment {
  margin-top: 10px;
  background-color: #79caaa;
  color: #fff;
    font-family: inherit;
}
.YesNo .btn-raised.btn-primary {
  background-color: #1d8cf8 !important;
  color: #fff !important;
}

.AccountSection-validation {
  background: rgb(255, 163, 163);
  height: 25px;
  display: block;
}

.billing-details {
  font-size: 16px;
  line-height: 21px;
}

.LiveField__header {
  font-size: 18px;
  line-height: 25.2px;
  font-weight: 400;
}

.ciTvcc {
  font-size: 0.8rem;
  margin: 5px 0 0 0;
  color: #ff3860 !important;
}
.credit-card-input {
  border: 0px !important;
  position: absolute !important;
  width: 100% !important;
  font-size: 16px !important;
}
.btn-submit-billing .btn-raised {
  width: 100%;
  margin: 0;
  font-size: 16px;
  padding: 15px;
  text-transform: none;
  transform: none !important;
}
.billing-auth-text {
  font-size: 14px;
}
.btn-raised.btn-primary {
  background-color: #79a4ca;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.account-service .full-preview-page {
  margin: initial;
}

.account-service h1 {
  font-weight: 400;
  font-size: 27px;
  margin-bottom: 0;
}
.account-service div p {
  font-size: 13px;
  font-weight: 400;
}

.account-service .BtnV2.BtnV2--raised:hover,
.account-service .introjs-button.BtnV2--raised:hover {
  box-shadow: 0 5px 18px -4px rgba(0, 0, 0, 0.3);
}

.account-service .table > thead > tr > th {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #99a2ab;
  vertical-align: bottom;
}

.account-service .table {
  width: 97%;
  font-size: 13px;
  margin: 0 auto;
  margin-top: 15px;
}

.account-service h1 {
  padding-left: 1px !important;
}
.account-service div p {
  font-size: 13px;
  line-height: 21px;
  padding-left: 1px;
}
.security_password-2fa {
  background-color: #4d7cea !important;
  font-family: inherit;
}

.receipt-section .PaperType--h3 {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}

.ManageUsers-Section p {
  font-size: 16px;
  line-height: 30px;
}
.sc-bwzfXH .kJnpoy .input {
  width: 110%;
}
.hKyTic .credit-card-input {
  right: "-150px";
}
.hKyTic .zip-input {
  display: "initial";
}
.credit-card-billing {
  width: 100%;
}

.credit-card-billing label {
  margin-bottom: 0px !important;
}

.credit-card-billing #field-wrapper label:nth-of-type(1) {
  width: 65% !important;
}
.input {
  border: 1px solid;
}

.Account-Referal
{
  max-width: 700px; margin: 0px auto; padding-bottom: 80px; text-align: center;
}
.gift-card {
  font-size: 39px;
  vertical-align: middle;
  margin-right: 8px;
}
.PaperType--h1 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color: #434a50;
}
.Referral__code {
  width: 100%;
  padding: 10px;
  font-weight: 400;
  background-color: #f8f8f8;
  border-radius: 4px;
  border-bottom: 0;
  font-size: 21px;
  margin-top: 10px;
  text-align: center;
}
.Referral .btn-raised {
  margin-top: 15px;
  width: 100%;
}

.Referral .EmailButton {
  background-color: #79a4ca !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}


.Referral .btn-raised {
    width: 60%;
}

.Referral .btn-raised {
  padding: 8px 15px;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: #999;
  z-index: 2;
  position: relative;
  border: 0;
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  box-shadow: 0 2px 6px -2px rgba(0,0,0,0.5);
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  transition: all 0.1s;
  outline: 0;
  -webkit-user-select: none;
  user-select: none;
}

.btn-raised.btn--facebook {
  color: #fff !important;
  background-color: #3b5998 !important;
  background-image: url(../img/fb.png);
  background-size: 20px;
  background-position: 98% center;
  background-repeat: no-repeat;
}
.btn-raised.btn--linkedin {
  color: #fff !important;
  background-color: #0077b5 !important;
  background-image: url(../img/linkedin.png);
  background-size: 20px;
  background-position: 98% center;
  background-repeat: no-repeat;
}

.btn-raised.btn--twitter {
  color: #fff !important;
  background-color: #1da1f2 !important;
  background-image: url(../img/twitter.png);
  background-size: 20px;
  background-position: 98% center;
  background-repeat: no-repeat;
}

.referral-instructions
{
  font-size: 12px; display: block; color: rgb(153, 153, 153); margin-top: 5px;
}

.referral-Email-div
{
  margin-left: -15px; margin-right: -15px; background-color: rgb(238, 238, 238); padding: 0px 15px 15px;
}

.referral-mail-icon
{
  font-size: 18px; position: absolute; right: 12px; top: 8px;
}

.referral-firstName-parent-div
{
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding-top: 15px;
}